In [43]:
import pandas as pd
import numpy as np
df = pd.read_csv('taxi.csv', index_col = 'Unnamed: 0')

In [44]:
df.head()

   count(1)  month    year  dayofweek  hour  pickup_community_area
0      2742   11.0  2014.0        7.0  21.0                   32.0
1       200   11.0  2014.0        6.0  23.0                   77.0
2       110    4.0  2014.0        7.0  19.0                   16.0
3      3205   12.0  2016.0        4.0  16.0                    8.0
4      1159   12.0  2014.0        7.0  22.0                   24.0

In [45]:
df.size

2876160

In [46]:
df.isnull().values.any()

True

In [47]:
df.isnull().sum()

count(1)                    0
month                       1
year                        1
dayofweek                   1
hour                        1
pickup_community_area    9242
dtype: int64

In [48]:
df.rename(columns={'count(1)':'count'}, inplace=True)

In [49]:
nan_rows = df[df.isnull().T.any().T]
nan_rows.head()

     count  month    year  dayofweek  hour  pickup_community_area
351   3019   12.0  2013.0        5.0  21.0                    NaN
356   4253    5.0  2013.0        4.0  19.0                    NaN
377   2545   10.0  2015.0        4.0  22.0                    NaN
379   5670    6.0  2013.0        1.0   0.0                    NaN
410   1835    6.0  2016.0        2.0  22.0                    NaN

In [50]:
df=df.dropna(subset=['pickup_community_area'])
df.size

2820708

In [51]:
df.year = df.year.astype(int)
df.month = df.month.astype(int)
df.hour = df.hour.astype(int)
df.dayofweek = df.dayofweek.astype(int)
df.pickup_community_area = df.pickup_community_area.astype(int)
df.head()

   count  month  year  dayofweek  hour  pickup_community_area
0   2742     11  2014          7    21                     32
1    200     11  2014          6    23                     77
2    110      4  2014          7    19                     16
3   3205     12  2016          4    16                      8
4   1159     12  2014          7    22                     24

In [52]:
df=df[df.year == 2014]
df=df[df.dayofweek == 7]
df=df[df.hour == 18]
df=df[df.month == 11]
df.head()

       count  month  year  dayofweek  hour  pickup_community_area
7179       1     11  2014          7    18                     18
13993      2     11  2014          7    18                     59
48006   4024     11  2014          7    18                     32
48298   1066     11  2014          7    18                     24
87560     12     11  2014          7    18                     17

In [53]:
df.size

324

In [ ]:
#df= df.drop(["month", "year", "dayofweek", "hour"], axis=1)

In [60]:
df.columns

Index(['count', 'pickup_community_area'], dtype='object')

In [62]:
df.head()

       count  pickup_community_area
7179       1                     18
13993      2                     59
48006   4024                     32
48298   1066                     24
87560     12                     17

In [71]:
df.to_csv("out.csv", index=False)

In [72]:
import csv


def main():
    # Dictionary to store the count of each community
    count_dict = {}
    # Open the file
    with open('out.csv') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        # Count the number of rows
        num_rows = 0
        for row in csv_reader:
            # If it's the first row, do nothing
            if num_rows != 0:
                count_dict[int(row[1])] = int(row[0])
            num_rows += 1
        # for each key in the dict

        print(0, end="\t")
        for key in sorted(count_dict.keys()):
            print(key, end="\t")
        print()
        # For each key
        for key in sorted(count_dict.keys()):
            # Print the key
            print(key, end="\t")
            # get all the other keys
            for key2 in sorted(count_dict.keys()):
                # Print the difference
                print(count_dict[key] - count_dict[key2], end="\t")
            # print an empty line
            print()
main()

0	1	2	3	4	5	6	7	8	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	27	28	29	30	31	32	33	34	35	37	38	39	41	42	43	44	45	46	49	56	58	59	60	61	65	67	68	69	76	77
1	0	-38	-398	-88	-215	-1970	-1824	-7283	50	41	52	51	15	49	-33	49	60	56	60	-1	-343	56	-1005	59	60	-1541	55	58	44	-3963	-719	32	38	59	55	42	-27	55	58	60	59	60	60	-223	58	59	53	58	60	60	59	57	-1017	-193
2	38	0	-360	-50	-177	-1932	-1786	-7245	88	79	90	89	53	87	5	87	98	94	98	37	-305	94	-967	97	98	-1503	93	96	82	-3925	-681	70	76	97	93	80	11	93	96	98	97	98	98	-185	96	97	91	96	98	98	97	95	-979	-155
3	398	360	0	310	183	-1572	-1426	-6885	448	439	450	449	413	447	365	447	458	454	458	397	55	454	-607	457	458	-1143	453	456	442	-3565	-321	430	436	457	453	440	371	453	456	458	457	458	458	175	456	457	451	456	458	458	457	455	-619	205
4	88	50	-310	0	-127	-1882	-1736	-7195	138	129	140	139	103	137	55	137	148	144	148	87	-255	144	-917	147	148	-1453	143	146	132	-3875	-631	120	126	147	143	130	61	143	146	148	147	148	148	-135	146	147	141	146	148	148	147	145	-929	-105
5	215	177	-183	127	0	-1755	-1609	-7068	265	256	267	266	230	264	182	264	275	271	275	214	-128	271	-790	274	275	-1326	270	273	259	-3748	-504	247	253	274	270	257	188	270	273	275	274	275	275	-8	273	274	268	273	275	275	274	272	-802	22
6	1970	1932	1572	1882	1755	0	146	-5313	2020	2011	2022	2021	1985	2019	1937	2019	2030	2026	2030	1969	1627	2026	965	2029	2030	429	2025	2028	2014	-1993	1251	2002	2008	2029	2025	2012	1943	2025	2028	2030	2029	2030	2030	1747	2028	2029	2023	2028	2030	2030	2029	2027	953	1777
7	1824	1786	1426	1736	1609	-146	0	-5459	1874	1865	1876	1875	1839	1873	1791	1873	1884	1880	1884	1823	1481	1880	819	1883	1884	283	1879	1882	1868	-2139	1105	1856	1862	1883	1879	1866	1797	1879	1882	1884	1883	1884	1884	1601	1882	1883	1877	1882	1884	1884	1883	1881	807	1631
8	7283	7245	6885	7195	7068	5313	5459	0	7333	7324	7335	7334	7298	7332	7250	7332	7343	7339	7343	7282	6940	7339	6278	7342	7343	5742	7338	7341	7327	3320	6564	7315	7321	7342	7338	7325	7256	7338	7341	7343	7342	7343	7343	7060	7341	7342	7336	7341	7343	7343	7342	7340	6266	7090
10	-50	-88	-448	-138	-265	-2020	-1874	-7333	0	-9	2	1	-35	-1	-83	-1	10	6	10	-51	-393	6	-1055	9	10	-1591	5	8	-6	-4013	-769	-18	-12	9	5	-8	-77	5	8	10	9	10	10	-273	8	9	3	8	10	10	9	7	-1067	-243
11	-41	-79	-439	-129	-256	-2011	-1865	-7324	9	0	11	10	-26	8	-74	8	19	15	19	-42	-384	15	-1046	18	19	-1582	14	17	3	-4004	-760	-9	-3	18	14	1	-68	14	17	19	18	19	19	-264	17	18	12	17	19	19	18	16	-1058	-234
12	-52	-90	-450	-140	-267	-2022	-1876	-7335	-2	-11	0	-1	-37	-3	-85	-3	8	4	8	-53	-395	4	-1057	7	8	-1593	3	6	-8	-4015	-771	-20	-14	7	3	-10	-79	3	6	8	7	8	8	-275	6	7	1	6	8	8	7	5	-1069	-245
13	-51	-89	-449	-139	-266	-2021	-1875	-7334	-1	-10	1	0	-36	-2	-84	-2	9	5	9	-52	-394	5	-1056	8	9	-1592	4	7	-7	-4014	-770	-19	-13	8	4	-9	-78	4	7	9	8	9	9	-274	7	8	2	7	9	9	8	6	-1068	-244
14	-15	-53	-413	-103	-230	-1985	-1839	-7298	35	26	37	36	0	34	-48	34	45	41	45	-16	-358	41	-1020	44	45	-1556	40	43	29	-3978	-734	17	23	44	40	27	-42	40	43	45	44	45	45	-238	43	44	38	43	45	45	44	42	-1032	-208
15	-49	-87	-447	-137	-264	-2019	-1873	-7332	1	-8	3	2	-34	0	-82	0	11	7	11	-50	-392	7	-1054	10	11	-1590	6	9	-5	-4012	-768	-17	-11	10	6	-7	-76	6	9	11	10	11	11	-272	9	10	4	9	11	11	10	8	-1066	-242
16	33	-5	-365	-55	-182	-1937	-1791	-7250	83	74	85	84	48	82	0	82	93	89	93	32	-310	89	-972	92	93	-1508	88	91	77	-3930	-686	65	71	92	88	75	6	88	91	93	92	93	93	-190	91	92	86	91	93	93	92	90	-984	-160
17	-49	-87	-447	-137	-264	-2019	-1873	-7332	1	-8	3	2	-34	0	-82	0	11	7	11	-50	-392	7	-1054	10	11	-1590	6	9	-5	-4012	-768	-17	-11	10	6	-7	-76	6	9	11	10	11	11	-272	9	10	4	9	11	11	10	8	-1066	-242
18	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
19	-56	-94	-454	-144	-271	-2026	-1880	-7339	-6	-15	-4	-5	-41	-7	-89	-7	4	0	4	-57	-399	0	-1061	3	4	-1597	-1	2	-12	-4019	-775	-24	-18	3	-1	-14	-83	-1	2	4	3	4	4	-279	2	3	-3	2	4	4	3	1	-1073	-249
20	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
21	1	-37	-397	-87	-214	-1969	-1823	-7282	51	42	53	52	16	50	-32	50	61	57	61	0	-342	57	-1004	60	61	-1540	56	59	45	-3962	-718	33	39	60	56	43	-26	56	59	61	60	61	61	-222	59	60	54	59	61	61	60	58	-1016	-192
22	343	305	-55	255	128	-1627	-1481	-6940	393	384	395	394	358	392	310	392	403	399	403	342	0	399	-662	402	403	-1198	398	401	387	-3620	-376	375	381	402	398	385	316	398	401	403	402	403	403	120	401	402	396	401	403	403	402	400	-674	150
23	-56	-94	-454	-144	-271	-2026	-1880	-7339	-6	-15	-4	-5	-41	-7	-89	-7	4	0	4	-57	-399	0	-1061	3	4	-1597	-1	2	-12	-4019	-775	-24	-18	3	-1	-14	-83	-1	2	4	3	4	4	-279	2	3	-3	2	4	4	3	1	-1073	-249
24	1005	967	607	917	790	-965	-819	-6278	1055	1046	1057	1056	1020	1054	972	1054	1065	1061	1065	1004	662	1061	0	1064	1065	-536	1060	1063	1049	-2958	286	1037	1043	1064	1060	1047	978	1060	1063	1065	1064	1065	1065	782	1063	1064	1058	1063	1065	1065	1064	1062	-12	812
25	-59	-97	-457	-147	-274	-2029	-1883	-7342	-9	-18	-7	-8	-44	-10	-92	-10	1	-3	1	-60	-402	-3	-1064	0	1	-1600	-4	-1	-15	-4022	-778	-27	-21	0	-4	-17	-86	-4	-1	1	0	1	1	-282	-1	0	-6	-1	1	1	0	-2	-1076	-252
27	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
28	1541	1503	1143	1453	1326	-429	-283	-5742	1591	1582	1593	1592	1556	1590	1508	1590	1601	1597	1601	1540	1198	1597	536	1600	1601	0	1596	1599	1585	-2422	822	1573	1579	1600	1596	1583	1514	1596	1599	1601	1600	1601	1601	1318	1599	1600	1594	1599	1601	1601	1600	1598	524	1348
29	-55	-93	-453	-143	-270	-2025	-1879	-7338	-5	-14	-3	-4	-40	-6	-88	-6	5	1	5	-56	-398	1	-1060	4	5	-1596	0	3	-11	-4018	-774	-23	-17	4	0	-13	-82	0	3	5	4	5	5	-278	3	4	-2	3	5	5	4	2	-1072	-248
30	-58	-96	-456	-146	-273	-2028	-1882	-7341	-8	-17	-6	-7	-43	-9	-91	-9	2	-2	2	-59	-401	-2	-1063	1	2	-1599	-3	0	-14	-4021	-777	-26	-20	1	-3	-16	-85	-3	0	2	1	2	2	-281	0	1	-5	0	2	2	1	-1	-1075	-251
31	-44	-82	-442	-132	-259	-2014	-1868	-7327	6	-3	8	7	-29	5	-77	5	16	12	16	-45	-387	12	-1049	15	16	-1585	11	14	0	-4007	-763	-12	-6	15	11	-2	-71	11	14	16	15	16	16	-267	14	15	9	14	16	16	15	13	-1061	-237
32	3963	3925	3565	3875	3748	1993	2139	-3320	4013	4004	4015	4014	3978	4012	3930	4012	4023	4019	4023	3962	3620	4019	2958	4022	4023	2422	4018	4021	4007	0	3244	3995	4001	4022	4018	4005	3936	4018	4021	4023	4022	4023	4023	3740	4021	4022	4016	4021	4023	4023	4022	4020	2946	3770
33	719	681	321	631	504	-1251	-1105	-6564	769	760	771	770	734	768	686	768	779	775	779	718	376	775	-286	778	779	-822	774	777	763	-3244	0	751	757	778	774	761	692	774	777	779	778	779	779	496	777	778	772	777	779	779	778	776	-298	526
34	-32	-70	-430	-120	-247	-2002	-1856	-7315	18	9	20	19	-17	17	-65	17	28	24	28	-33	-375	24	-1037	27	28	-1573	23	26	12	-3995	-751	0	6	27	23	10	-59	23	26	28	27	28	28	-255	26	27	21	26	28	28	27	25	-1049	-225
35	-38	-76	-436	-126	-253	-2008	-1862	-7321	12	3	14	13	-23	11	-71	11	22	18	22	-39	-381	18	-1043	21	22	-1579	17	20	6	-4001	-757	-6	0	21	17	4	-65	17	20	22	21	22	22	-261	20	21	15	20	22	22	21	19	-1055	-231
37	-59	-97	-457	-147	-274	-2029	-1883	-7342	-9	-18	-7	-8	-44	-10	-92	-10	1	-3	1	-60	-402	-3	-1064	0	1	-1600	-4	-1	-15	-4022	-778	-27	-21	0	-4	-17	-86	-4	-1	1	0	1	1	-282	-1	0	-6	-1	1	1	0	-2	-1076	-252
38	-55	-93	-453	-143	-270	-2025	-1879	-7338	-5	-14	-3	-4	-40	-6	-88	-6	5	1	5	-56	-398	1	-1060	4	5	-1596	0	3	-11	-4018	-774	-23	-17	4	0	-13	-82	0	3	5	4	5	5	-278	3	4	-2	3	5	5	4	2	-1072	-248
39	-42	-80	-440	-130	-257	-2012	-1866	-7325	8	-1	10	9	-27	7	-75	7	18	14	18	-43	-385	14	-1047	17	18	-1583	13	16	2	-4005	-761	-10	-4	17	13	0	-69	13	16	18	17	18	18	-265	16	17	11	16	18	18	17	15	-1059	-235
41	27	-11	-371	-61	-188	-1943	-1797	-7256	77	68	79	78	42	76	-6	76	87	83	87	26	-316	83	-978	86	87	-1514	82	85	71	-3936	-692	59	65	86	82	69	0	82	85	87	86	87	87	-196	85	86	80	85	87	87	86	84	-990	-166
42	-55	-93	-453	-143	-270	-2025	-1879	-7338	-5	-14	-3	-4	-40	-6	-88	-6	5	1	5	-56	-398	1	-1060	4	5	-1596	0	3	-11	-4018	-774	-23	-17	4	0	-13	-82	0	3	5	4	5	5	-278	3	4	-2	3	5	5	4	2	-1072	-248
43	-58	-96	-456	-146	-273	-2028	-1882	-7341	-8	-17	-6	-7	-43	-9	-91	-9	2	-2	2	-59	-401	-2	-1063	1	2	-1599	-3	0	-14	-4021	-777	-26	-20	1	-3	-16	-85	-3	0	2	1	2	2	-281	0	1	-5	0	2	2	1	-1	-1075	-251
44	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
45	-59	-97	-457	-147	-274	-2029	-1883	-7342	-9	-18	-7	-8	-44	-10	-92	-10	1	-3	1	-60	-402	-3	-1064	0	1	-1600	-4	-1	-15	-4022	-778	-27	-21	0	-4	-17	-86	-4	-1	1	0	1	1	-282	-1	0	-6	-1	1	1	0	-2	-1076	-252
46	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
49	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
56	223	185	-175	135	8	-1747	-1601	-7060	273	264	275	274	238	272	190	272	283	279	283	222	-120	279	-782	282	283	-1318	278	281	267	-3740	-496	255	261	282	278	265	196	278	281	283	282	283	283	0	281	282	276	281	283	283	282	280	-794	30
58	-58	-96	-456	-146	-273	-2028	-1882	-7341	-8	-17	-6	-7	-43	-9	-91	-9	2	-2	2	-59	-401	-2	-1063	1	2	-1599	-3	0	-14	-4021	-777	-26	-20	1	-3	-16	-85	-3	0	2	1	2	2	-281	0	1	-5	0	2	2	1	-1	-1075	-251
59	-59	-97	-457	-147	-274	-2029	-1883	-7342	-9	-18	-7	-8	-44	-10	-92	-10	1	-3	1	-60	-402	-3	-1064	0	1	-1600	-4	-1	-15	-4022	-778	-27	-21	0	-4	-17	-86	-4	-1	1	0	1	1	-282	-1	0	-6	-1	1	1	0	-2	-1076	-252
60	-53	-91	-451	-141	-268	-2023	-1877	-7336	-3	-12	-1	-2	-38	-4	-86	-4	7	3	7	-54	-396	3	-1058	6	7	-1594	2	5	-9	-4016	-772	-21	-15	6	2	-11	-80	2	5	7	6	7	7	-276	5	6	0	5	7	7	6	4	-1070	-246
61	-58	-96	-456	-146	-273	-2028	-1882	-7341	-8	-17	-6	-7	-43	-9	-91	-9	2	-2	2	-59	-401	-2	-1063	1	2	-1599	-3	0	-14	-4021	-777	-26	-20	1	-3	-16	-85	-3	0	2	1	2	2	-281	0	1	-5	0	2	2	1	-1	-1075	-251
65	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
67	-60	-98	-458	-148	-275	-2030	-1884	-7343	-10	-19	-8	-9	-45	-11	-93	-11	0	-4	0	-61	-403	-4	-1065	-1	0	-1601	-5	-2	-16	-4023	-779	-28	-22	-1	-5	-18	-87	-5	-2	0	-1	0	0	-283	-2	-1	-7	-2	0	0	-1	-3	-1077	-253
68	-59	-97	-457	-147	-274	-2029	-1883	-7342	-9	-18	-7	-8	-44	-10	-92	-10	1	-3	1	-60	-402	-3	-1064	0	1	-1600	-4	-1	-15	-4022	-778	-27	-21	0	-4	-17	-86	-4	-1	1	0	1	1	-282	-1	0	-6	-1	1	1	0	-2	-1076	-252
69	-57	-95	-455	-145	-272	-2027	-1881	-7340	-7	-16	-5	-6	-42	-8	-90	-8	3	-1	3	-58	-400	-1	-1062	2	3	-1598	-2	1	-13	-4020	-776	-25	-19	2	-2	-15	-84	-2	1	3	2	3	3	-280	1	2	-4	1	3	3	2	0	-1074	-250

76	1017	979	619	929	802	-953	-807	-6266	1067	1058	1069	1068	1032	1066	984	1066	1077	1073	1077	1016	674	1073	12	1076	1077	-524	1072	1075	1061	-2946	298	1049	1055	1076	1072	1059	990	1072	1075	1077	1076	1077	1077	794	1075	1076	1070	1075	1077	1077	1076	1074	0	824
77	193	155	-205	105	-22	-1777	-1631	-7090	243	234	245	244	208	242	160	242	253	249	253	192	-150	249	-812	252	253	-1348	248	251	237	-3770	-526	225	231	252	248	235	166	248	251	253	252	253	253	-30	251	252	246	251	253	253	252	250	-824	0